
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  background-color: #f7f7ff;
  min-height: 470px;
  min-width: 380px;
  width: 26%;
  margin: 50px 20px 50px 50px;
  line-height: 20px;
  font-size: 15px;
}
.card button {
  margin: 5px 10px 10px 10px;
  background-color: #a53860;
  border: 1px solid #b7999c;
  padding: 10px;
  color: #f7f7ff;
  border-radius: 25px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin-left: 115px;
}

#mySearch {
  width: 100%;
  background-color: #2376ae;
  color: white;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  background-color: #2376ae;
  border-right: solid #1c046c 1px;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav label {
  padding: 6px 8px 10px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}
.card-img {
  width: 100%;
  height: 60%;
  opacity: 60%;
}
.sidenav h1 {
  color: white;
  padding: 5px;
}
@media screen and (max-width: 560px) {
  .searchbar {
    display: none;
  }
  #first {
    margin-top: 50px;
  }
  .sidenav {
    display: none;
  }
  .sidenav p {
    display: none;
  }
  .card {
    min-width: 280px;
    margin: 20px;
    padding: 30px;
  }
  .flex-container {
    margin-left: 0px;
  }
}
