.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 80%;
    display: block;
    margin-bottom: 20px;
    margin-left: 10%;
  }
  .searchbar{
   visibility: hidden;
  }
  .card{
    margin-top: 30px;
  }
  #first{
    margin-top: 50px;
  }
  .sidenav{
    visibility: hidden;
  }
  .sidenav p{
    visibility: hidden;
  }
  .card{
    min-width: 300px;
    margin-left: 100px;
    padding: 30px;
  }
  .flex-container{
    margin-left: 0px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
/*  text-align: center;
*/  background-color: #f7f7ff;
  min-height: 470px;
  min-width: 380px;
  width: 25%;
  margin: 50px;
  line-height: 20px;
  font-size: 15px;
}
.card button{
  margin: 20px;
  background-color: #a53860;
  border: 1px solid #b7999c;
  padding: 10px;
  color: #f7f7ff;
  border-radius: 25px;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  /*background-color: #ead2ac;*/
  background-color: white;
  margin-left: 160px;
  }

#mySearch{
  width: 100%;
  background-color: #2376ae;
  color: white;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
/*  left: 0;
*/  background-color: #2376ae; /* Black */
  border-right: solid #1C046C 1px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
.sidenav label{
  padding: 6px 8px 10px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}
.card-img{
  width: 100%;
  height: 60%;
  opacity: 60%;
/*  box-shadow: 0 6px 12px 0 rgba(0.8, 0.8, 0.8, 0.8);
*/}
.sidenav h1{
  color: white;
  padding: 5px;
}
